#zuo {
    position: relative;
    left: -20px
}
#you {
    position: relative;
    left:20px
}




#yd
{
    position: absolute;
    left:100px;
    top:150px
}


#gd1
{
    position: fixed;
    left:5px;
    top:5px;
}
#gd2
{
    position: fixed;
    top:30px;
    right:5px;
}

img
{
    float: right
}


/*h2.pos_left*/
/*{*/
    /*position: relative;*/
    /*left:-20px*/
/*}*/
/*h2.pos_right*/
/*{*/
    /*position:relative;*/
    /*left:20px*/
/*}*/
